html {
  font-size: 15px;
}

body {
  font-size: 12pt;
  position: relative;
  background: #eff0eb;
}

.describe {
  background-color: rgb(199, 203, 207);
  padding: 10px;
  font-family: serif;
  height: 100%;
}

h1 {
  margin-top: 15px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h6 {
  color: rgb(27, 128, 14);
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

fieldset.scheduler-border {
  border: solid 1px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}

legend.scheduler-border {
  width: auto !important;
  border: 25px;
  font-weight: 600;
}

fieldset.scheduler-border-order {
  border: solid 3px rgb(170, 216, 45) !important;
  padding: 0 10px 10px 10px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card, fieldset.scheduler-border {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  color: azure;
}

.img-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

blockquote {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}